@import './../../styles/variables.scss';

.list{
  background-color: var(--list);
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: -35px;
  margin-bottom: 0;
  padding:0;
  list-style: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.todo{
  width: 100%;
  height: 40px;
  color: $very-dark-grayish-blue;
  font-size: .7rem;
  padding-left: 1.3rem;
  cursor:grab;
}
.todoSelected{
  @extend .todo;
  background-color: $light-grayish-blue;
}
.todo_total{
  background-color: var(--list);
  display: grid;
  grid-template: 1fr/ repeat(auto-fit,minmax(1fr,auto));
  grid-template-areas: 'item sort completed'; 
  align-items: center;  
  width: 40%; 
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding: 1rem;
  border-top: 1px solid $very-dark-grayish-blue;
}
.todo_total_items{
  grid-area: item;
  font-size: 0.7rem;
  color: $very-dark-grayish-blue;
}
.todo_total_completed{
  grid-area: completed;
  text-align: right;
  cursor: pointer;
  font-size: 0.7rem;
  color: $very-dark-grayish-blue;
}
.todo_total_sort{
  grid-area: sort;
  display: flex;
  justify-content: space-around;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0 .8rem;
}
.todo_total_sort_item{
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.7rem;
  color: $very-dark-grayish-blue;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  }
  .todo_total_sort_item_active{
    @extend .todo_total_sort_item;
    color: $bright-blue;
  }
