@import './../../styles/variables.scss';

.form{
  position:relative;
  width: 40%;
}
.formCheckbox{
  height: 20px;
  width: 20px;
  position: absolute;
  top: 15px;
  left: 20px;
  border-radius: 50%;
  border: 1px solid $very-dark-grayish-blue;
}
