@import './../../styles/variables.scss';

.todoCheckBox{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.6rem;
  overflow: hidden;
}
.todoInput{
  appearance: none;
}
.todoInput::before{
  position:absolute;
  content: '';
  display: block;
  top: 10px;
  left: 0;  
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border:1px solid $very-dark-grayish-blue;
}
.todoText{
  padding-left: 1.9rem;
  padding-top: .9rem;
  color: var(--font);
  padding-bottom: 0.3rem;
  @media(min-width: $desktop){
    padding-top: .5rem;
  }
}
.todoTextChecked{
  padding-left: 1.9rem;
  padding-top: .9rem;
  padding-bottom: 0.3rem;
  color: var(--font);
  text-decoration: line-through;
  @media(min-width: $desktop){
    padding-top: .5rem;
  }
}
.todoInput:checked::before {
  background: url("../../images/icon-check.svg") no-repeat center, linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)) ;
}