@import './../../styles/variables.scss';

.footer{
  background-color: var(--background-color);
  text-align: center;
  flex: 0 0 auto;
  padding: 2rem 0;
  font-size: 0.8rem;
  border:none;
}

.footer a{
  color: $bright-blue;
  text-decoration: none;
}